@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;1,300&display=swap');

*{font-style:font-semibold }
.auth-button {

  font-size: 19px;

}
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;1,300&display=swap');

*{font-style:font-semibold }
.auth-button {

  font-size: 19px;

}

  
@media screen and (max-width: 500px){

  .imgheight{
   
    padding-top: 20px;
    padding-bottom: 20px;
  
  }
 
  }
 
  @media screen and (max-width: 420px){

    .imgheight{
     
      padding-top: 40px;
      padding-bottom: 40px;
    }
   
    }

    @media screen and (max-width: 420px){

      .imgheight2{
       /* border: solid black; */
        height: 65%;
    
      }
     
      }
  






