@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;1,300&display=swap');

*{font-style:font-semibold }
.auth-button {

  font-size: 19px;

}

/* 
navbars border animation */

.nav-link {
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  margin:-1px;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: blue;
  transition: width 0.5s ease, left 0.5s ease;
}
.nav-link:hover::after {
  width: 100%;
  left: 0;
}
.nav-link:hover {
  color: lightblue;
}






