@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;1,300&display=swap');



.Login-button {
    background: linear-gradient(to right, #5234b3,#03a9f4);
	
	
}

.Login-button:hover {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7);
	transition: box-shadow 0.3s ease-in-out;
 
}

h2, p {
    font-family: 'Poppins', sans-serif;
}

/* Changes color when hovering the mouse over the link */
a:hover {
    color: #1445e8;
}
.App {
    text-align: center;
    color: rgb(28, 184, 176);  
  }
  
/* Add this CSS to your existing stylesheet */

  
  
  @media screen and (max-width: 600px){

  
  .img_hid{
    display: none;
    
  }

  }
  .login-bg{
    /* background-image: url('../assets/new wal.jpg'); */

     background-image: url('../assets/purple.jpg'),url('../assets/bg\ boy.png');
	   /* background-position-x: center; */
     background-repeat: no-repeat;
     background-size:cover;
     background-position:center,bottom left; 
     /* background-size: contain; */
     /* background-size: 500px; */
     /* background-color:rgba(52, 155, 215, 0.509); */
     
     

  }

  /* Hide password toggle icons for WebKit browsers (like Safari) */
input[type="password"]::-webkit-text-security {
  -webkit-text-security: disc;
}

/* Hide password toggle icons for Microsoft Edge */
input[type="password"]::-ms-reveal {
  display: none;
}
