@media screen and (min-width:350px) and (max-width:370px) {
.img_height{
  padding-top: 20px;
  max-width: 550px;
  height:500px;
  margin: auto;


  
  }
  .txt_height{
    padding-top: 90px;
    max-width: 520px;
  height:180px;
  margin: auto;
    
  }
  h2{
    
    padding-top: 1px;
  }
  p{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
  }
}

@media screen and (min-width:380px) and (max-width:455px) {
  .img_height{
    padding-top: 3px;
    max-width: 540px;
    height:410px;
    margin: auto;
  
    }
    .txt_height{
      padding-top: 250px;
      max-width: 520px;
    height:180px;
    margin: auto;
      
    }
}