@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;1,300&display=swap');


.Login-button {
    background: linear-gradient(to right, #5234b3,#03a9f4);
}


.Login-button:hover {
  display: block;
  filter: drop-shadow(0 0 10px #fffdef);
}


h2, p {
    font-family: 'Poppins', sans-serif;
}

/* Changes color when hovering the mouse over the link */
a:hover {
    color: #1445e8;
}
.App {
    text-align: center;
    color: brown;  
  }
  

  @media screen and (max-width: 640px){

  
  .img_hid{
    display: none;
    
  }

  }
  .login-bg{
    background-image: url('../assets/vote.jpg');
    background-position: center;
   
  }
  .Login-button:hover.stars{
    display: block;
    filter: drop-shadow(0 0 10px #fffdef);
  }

  

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}
