@tailwind base;
@tailwind components;
@tailwind utilities;



.Login-button {
    background: linear-gradient(to right, #5234b3,#03a9f4);
	
	
}

.Login-button:hover {
  /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7); */
 
	transition: box-shadow 0.2s ease-in-out;
 
}

h2, p {
    font-family: 'Poppins', sans-serif;
}



  /* media query for image hide  */
  @media screen and (max-width: 600px){

 
  .placeholder-small::placeholder {
    font-size: 14px; /* This will override the font size within the media query */
  }
  }
  .placeholder-small::placeholder {
    color:black
  }

  
  /* Hide password toggle icons for WebKit browsers (like Safari) */
input[type="password"]::-webkit-text-security {
  -webkit-text-security: disc;
}

/* Hide password toggle icons for Microsoft Edge */
input[type="password"]::-ms-reveal {
  display: none;
}




/* Hover underline effect */
.hover-effect {
  position: relative;
  display: inline-block;
}

.hover-effect::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: blue; /* Color of the underline */
  transition: width 0.4s ease, left 0.4s ease;
}

.hover-effect:hover::before {
  width: 100%;
  left: 0;
}

/* Blinking animation with 3 colors: light black, white, and blue */
.blink-animation {
  animation: blink-color 1s steps(3, start) infinite;
}

@keyframes blink-color {
  0% {
   
  }
  33% {
    color: white;
  }
  66% {
    color: blue;
  }
  100% {
  color:blue;
  }
}

/* Stop blinking on hover and remain blue */
.blink-animation:hover {
  animation: none;
  color: #0000ff; /* Stay blue */
}
